html,
body {
  margin: 0;
  padding: 0;
  font-family: "Verdana";
}


.main-header {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;

}

.logo { 
  height: 7.5rem;
}

/** DESTINATION INPUT */
.destination-input-group {
  position: relative;
  width: 100%;
  max-width: 500px; /* adjust as needed */
}

.destination-input { 
  padding: 20px; 
  font-size: 16px; 
  border-radius: 9999px;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
} 

.add-destination-btn {
  position: absolute;
  right: 8px;
  top: 1.5rem;
  transform: translateY(-50%);
  padding: 8px 16px;
  border: none;
  background-color: #ff385c;
  color: white;
  border-radius: 9999px;
  font-size: 20px;
  cursor: pointer;
}


/** CONTINENTS FILTER */
.continent-list { 
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0; 
  gap: 10rem; 
}

.continent-item { 
  display: flex; 
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-bottom: 2px solid transparent; /* avoids element's height changing on hover */
  padding-bottom: 4px;                  /* avoids element's height changing on hover */
}

.continent-item:hover { 
  border-bottom: 2px solid #ccc;
  padding-bottom: 4px; 
}

.continent-item.selected { 
  border-bottom: 2px solid black;
  padding-bottom: 4px; 

}

.continent-image { 
  height: 3rem;
  width: 100%;
}

.continent-text { 
  color: #ccc;
  font-size: 16px;
}

/** CARDS DISPLAY */
#card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 0px 20px;
}

.card {
  margin: 5px;
  display: none; /* avoids showing an empty card */
}

.card img {
  width: 100%;
  height: 300px;         /* Set a fixed height for the images */
  border-radius: 12px;
  object-fit: cover;
}

.card ul { 
  padding: 0;
  list-style: none;

}

.card-content {
  padding: 5px;
  color: #777;
  flex-direction: column;
  height: 100%;
}

.city-text { 
  font-weight: bold;
  color: black; 
}










.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

button {
  text-align: center;
  background-color: #666;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 5px;
}
